/* #right {
  position: absolute;

  top: 0px;
  right: 0px;
  bottom: 0px;

  width: 25%;
} */
#mapid {
  background: #ccc;
  position: absolute;
  height: 1200%;
  width: 100%;
}

#states {
  margin: 7px 15px;
}
